/* Mobile Styles - @media query */
@media (max-width: 768px) {
    h1 {
        font-size: 32px !important;
    }

    h2 {
        font-size: 28px !important;
    }

    h3 {
        font-size: 24px !important;
    }

    h4 {
        font-size: 20px !important;
    }

    h5 {
        font-size: 18px !important;
    }

    h6 {
        font-size: 16px !important;
    }

    p {
        font-size: 16px !important;
        line-height: 1.6;
    }

    .nav-center {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .nav-links {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        width: 70%;
        height: 100vh;
        background-color: #f3f3f3;
        padding: 80px 20px;
        transition: left 0.3s ease;
        z-index: 200;
        margin: 0;
    }

    .nav-links.show {
        left: 0;
    }

    .nav-links li {
        margin: 20px 0;
    }


    .nav-logo-mobile {
        display: block !important;
        position: absolute;
        top: 20px;
        left: 30px;
        font-size: 24px;
        font-weight: bold;
        color: black;
    }

    .nav-right {
        display: none;
    }


    /* The hero */
    .hero {
        flex-direction: column;
        align-items: center;
        padding: 40px 10px;
    }

    .hero-content {
        text-align: center;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .cta-buttons {
        flex-direction: row;
    }

    .cta-btn {
        width: 100%;
        padding: 15px;
        margin: 10px 0;

    }

    .hero-image {
        max-width: 100%;
    }

    .hero-image img {
        width: 100%;
        border-radius: 10px;
    }

    .modal-content {
        margin: 20% auto;
    }
}


@media (max-width: 480px) {
    .modal-content {
        padding: 20px;
        border-radius: 8px;
    }

    .modal-content input,
    .modal-btn {
        font-size: 14px;
    }

    .close-btn {
        font-size: 22px;
        top: 10px;
        right: 15px;
    }
}